@model IEnumerable<Product>

<div class="text-center">
    @Html.Partial("Pages",Model)
</div>
<div class="container text-center m-2">
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-6">
                <label>Количество объектов в базе</label>
                <input class="form-control" name="count" value="50" />
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-6">
                <button type="submit" asp-action="CreateSeedData" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                <button type="submit" asp-action="ClearData" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<h5 class="text-center m-2">
    В базе данных @ViewBag.Count продуктов
</h5>
<div class="table-responsive text-center">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col-1">#</th>
            <th scope="col">Название</th>
            <th scope="col">Категория</th>
            <th scope="col-2">Стоимость</th>
            <th scope="col-2">Итоговая цена</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            <tr>
<td class=" text-center align-middle">@p.Id</td>
<td class=" text-center align-middle">@p.Name</td>
<td class=" text-center align-middle">@p.Category.Name</td>
<td class=" text-center align-middle">@p.PurchasePrice</td>
<td class=" text-center align-middle">@p.RetailPrice</td>

            </tr>
        }
        </tbody>
    </table>
</div>
