<div class="container-fluid">
    <div class="row m-1">
        <div class="col"></div>
        <div class="col-md-3 col-12 mb-2">
            <select form="pageform" name="Options.SearchPropertyName"
                    class="form-control">
                @foreach (string s in ViewBag.searches as string[])
                {
                    <option value="@s"
                            selected="@(ViewBag.Options.SearchPropertyName == s)">
                        @(s.IndexOf('.') == -1 ? s : s.Substring(0, s.IndexOf('.')))
                    </option>
                }
            </select>
        </div>
        <div class="col-md col-12 mb-2">
            <input form="pageform" class="form-control"
                   name="options.SearchTerm"
                   value="@ViewBag.Options.SearchTerm" />
        </div>
        <div class="col-md-1 col-12 text-right">
            <button form="pageform" class="btn btn-secondary" type="submit">Поиск</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="col"></div>
    <div class="row m-1">
        <div class="col"></div>
        <div class="col-md-3 col-12 mb-2">
            <select form="pageform" name="options.OrderPropertyName"
                    class="form-control">
                @foreach (string s in ViewBag.sorts as string[])
                {
                    <option value="@s"
                            selected="@(ViewBag.Options.OrderPropertyName == s)">
                        @(s.IndexOf('.') == -1 ? s : s.Substring(0, s.IndexOf('.')))
                    </option>
                }
            </select>
        </div>
        <div class="col-md form-check form-check-inline col-12 mb-2">
            <input form="pageform" type="checkbox" name="Options.DescendingOrder"
                   id="Options.DescendingOrder"
                   class="form-check-input" value="true"
                   checked="@ViewBag.Options.DescendingOrder" />
            <label class="form-check-label">Убывающий список</label>
        </div>
        <div class="col-md-1 col-12 text-right">
            <button form="pageform" class="btn btn-secondary" type="submit">
                Сортировка
            </button>
        </div>
        <div class="col"></div>
    </div>
</div>
