@model IEnumerable<Car>

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">ГосНомер</th>
            <th scope="col">Владелец</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @if (ViewBag.EditId == null)
{
            <form asp-action="AddCar" method="post">
        @Html.Partial("CarEditor", new Car())
            </form>
}
    <tbody>
        @foreach(Car c in Model)

        {        
            @if (c.Id == ViewBag.EditId)
            {
                <form asp-action="UpdateCar" method="post">
                    <input type="hidden" name="Id" value="@c.Id"/>
                    <div asp-validation-summary="All"></div>
                    @Html.Partial("CarEditor", c)
                </form>
            }
            <tr>
                <th scope="row">@c.Id</th>
                <td>@c.Name</td>
                <td>@c.GovNomber</td>
                <td>@(c.Customer?.Name == null ? "Нет владельца" : c.Customer?.Name) </td>
                <td>
                    <form asp-action="DeleteCar" method="post">
                        <input type="hidden" name="Id" value="@c.Id" />
                        <a href="@Url.Action("EditCar", new{id = c.Id})"
                               class="btn btn-outline-primary">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div class="text-center p-2">
    <a asp-action="EditCar"
       class="btn btn-primary">Добавить</a>
</div>
